<div class="row">
  <div  class="col-md-12 px-0 px-sm-3">
    <!-- Public data -->
    <%= render partial: 'public' %>
    <!-- Mode data -->
    <%= render partial: 'modes' %>
    <!-- Weapon data -->
    <%= render partial: 'weapons' %>
    <!-- Division data -->
    <%= render partial: 'divisions' %>
  </div>
</div>