<% flash.each do |key, value| %>
  <div class="alert alert-main alert-<%= key %> d-block">
    <div class="container">
      <div class="row">
        <div class="col-12 px-sm-3 px-0">
          <%= value %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>