@import 'variables';
@import 'bootstrap';
@import 'bootswatch';
@import "font-awesome-sprockets";
@import 'font-awesome';
@import 'animate';
@import 'player';

body {
  overflow-x: hidden;
}

nav {
  z-index: 1000;
  padding: 0.5rem !important;

  &.navbar-player {
    z-index: 900;
  }

  input, select {
    height: auto !important;
    padding: 0.25rem 0 !important;
    font-size: 0.8125rem !important;
  }
}

.full-width {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;

  .nav-item {
    display: inline-block;
  }
}

.tab-pane {
  animation-duration: .25s;
  border: 1px solid #dee2e6;
  @extend .rounded;

  thead > tr > th {
    border-top: none;
  }

  &.active {
    &.becoming-active {
      display: none !important;
    }

    &.from-left {
      -webkit-animation-name: fadeInLeft;
      animation-name: fadeInLeft;
    }

    &.from-right {
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
    }
  }
  &.was-active {
    display: block;

    &.to-left {
      -webkit-animation-name: fadeOutLeft;
      animation-name: fadeOutLeft;
    }

    &.to-right {
      -webkit-animation-name: fadeOutRight;
      animation-name: fadeOutRight;
    }
  }
}

.tab-content {
  transition: height 0.5s ease-out;
}

.nav-select-toggle {
  display: block;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid;
  border-color: #dee2e6 #dee2e6 #fff;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;

  &:after {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    margin-left: 0.5em;
    content: "\f0dc";
    vertical-align: unset;
    border: none;
    width: auto;
  }
}

.dropdown-header {
  margin-left: -0.5rem;
}

a[data-target] {
  color: #007bff !important;
  cursor: pointer;

  &.dropdown-item {
    color: inherit !important;
    &.active, &:active {
      color: white !important;
    }
  }
}

table.table-hover tr:hover {
  &.table-danger {
    background: blue;
  }
}

.nav-tabs {
  padding-top: 1rem;
  border-bottom: 1px solid #dee2e6;
  @extend .bg-light;
}

.alert-main {
  border-radius: 0;
  margin-bottom: 0;
  border: none;

  .close {
    font-size: 1rem;
  }

  &.alert-success .container .row .col-12 {
    &:before {
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      content: "\f058";
      margin-right: 0.25rem;
    }
  }

  &.alert-primary .container .row .col-12 {
    &:before {
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      content: "\f05a";
      margin-right: 0.25rem;
    }
  }

  &.alert-danger .container .row .col-12, &.alert-warning .container .row .col-12 {
    &:before {
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      content: "\f06a";
      margin-right: 0.25rem;
    }
  }
}

.bg-psn {
  background-color: #003791;
}

.bg-xbl {
  background-color: #107c10;
}

.light-white {
  color: rgba(255,255,255,0.75);
}